@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rock+Salt&display=swap');

:root
{
    --primary-color: #0C4A6E;
    --secondary-color: #53B56D;
    --accent1-color: #FFA400;
    --accent2-color: #8338EC;

    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Josefin Sans', sans-serif;

    --nav-background-color: #53B56D;
    --nav-link-color: #FFF;
    --nav-hover-link-color: #FFA400;
    --nav-hover-background-color: #0C4A6E;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    padding: 100px;
    background-color: #F8F8F8;
}

h1 {
    font-size: 2rem;
}

h2, h3, h4, h5 {
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h6 {
    padding-top: 0%;
    padding-bottom: 0%;
    font-family: var(--heading-font);
    color: black;
}

p {
    font-family: var(--paragraph-font);
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    grid-column: 4;
}

nav a {
    color: var(--nav-link-color);
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    padding: 0.3rem;
    position: relative;
}

header nav a:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 70%;
    background-color: #000;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 100px 1fr 100px 4fr 50px; 
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

header nav a {
    background-color: var(--accent2-color);
}

.logo {
    margin: 0 0.25rem 0 1rem;
    width: 1000px;
    height: auto;
    max-width: 100%;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.navigation a {
	flex: 1 1 100%;
}

.navigation a:hover {
	color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
	font-weight: 700;
	text-decoration: underline;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    justify-items: center;
}

.history h2 {
    grid-column: 2/3;
    align-self: self-end;
}

.history p {
    align-self: center;
    justify-self: center;
    text-align: left;
}

.p1 {
    grid-column: 1;
    grid-row: 2;
}

.p2 {
    grid-column: 3;
    grid-row: 2;
}

.history div {
    grid-column: 2;
}

.history img {
    width: 300px;
    height: auto;
    grid-row: 2;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-gap: 10px;
    text-align: center;
    align-items: center;
}

.adventure img {
    width: 300px;
    height: auto;
}

.adventure figure {
    margin: 0;
}

.adventure figcaption {
    grid-row: 3;
    align-self: self-start;
}

.adventure h2 {
    grid-row: 1;
    grid-column: 1/6;
    justify-self: center;
    align-self: center;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    font-family: var(--heading-font);
    font-size: xxx-large;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 1, 80, 0.7);
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    padding-left: 50%;
}

.hero article img {
    position: relative;
    float: right;
    width: 50%;
    height: auto;
}

.hero article p {
    color: white;
    width: 75%;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: x-large;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--nav-background-color);
    padding: 10px;
}

footer p {
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.sociallinks {
    grid-column: 3;
    background-color: var(--nav-background-color);
}

footer img {
    padding: 0.5%;
    width: 50px;
    height: auto;
    background-color: var(--nav-background-color);
}

/*Contact Us page*/

.contact-info {
    display: grid;
    margin: 0.5rem;
    padding: 1rem;
    grid-template-columns: 0.5fr 2fr 1fr 4fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 0.5rem;
}

.icon {
    width: 20px;
    height: auto;
}

#ch1 {
    text-align: center;
    font-family: var(--paragraph-font);
}

#ch2 {
    font-family: var(--paragraph-font);
    grid-row: 1;
    grid-column: 1/-1;
    justify-self: start;
    align-self: center;
}

.icon {
    grid-column: 1;
    justify-self: start;
    align-self: center;
}

main section p {
    grid-column: 2;
    justify-self: start;
    align-self: center;
}

iframe {
    grid-column: 4 / span 6;
    grid-row: 1 / 5;
    justify-self: start;
    align-self: center;
    border: 1px solid black;
}

.employee-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.employee {
    width: 200px;
    height: auto;
}

figure {
    margin: 5rem;
    padding: 1rem;
    position: relative;
}

figcaption {
    position: absolute;
    top: 100%; /* Position the figcaption below the image */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

form {
    width: 650px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(220, 220, 220);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
}

fieldset {
    font-family: var(--paragraph-font);
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    padding: 1rem;
}

fieldset legend {
    padding: 0.5rem;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

div p {
    text-align: center;
    padding: 0.5rem;
    font-size: 1em;
    font-weight: normal;
    color:var(--accent2-color);
}

label {
    display: inline-block;
    text-align: left;
    padding-right: 1rem;
}

input, textarea {
    padding: 0.1rem;
    font-size: 1.1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

input[type="radio"], input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

input[type="submit"] {
    width: 30%;
    align-self: center;
    justify-self: center;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    background-color: var(--accent2-color);
    color: #f7f7f7;
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
}