@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root
{
    --primary-color: #E3170A;
    --secondary-color: #32E875;
    --accent1-color: #DD962C;
    --accent2-color: #449DD1;

    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Josefin Sans', serif;

    --nav-background-color: #449DD1;
    --nav-link-color: #E3170A;
    --nav-hover-link-color: #32E875;
    --nav-hover-background-color: #DD962C;
}
body
{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px; 
}
h1, h2, h3, h4, h5, h6
{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header
{
    padding: 20px;
    background-color: var(--accent1-color);
}
p
{
    font-family: var(--paragraph-font);
    padding: 25px;
}
nav
{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a
{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited
{
    color: var(--nav-link-color);
}
nav a:hover
{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}